*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background-image: url('../css/images/hero.png');
    margin-top: 0px;
    padding-top: 0px; 
}


.about-section{
    background-color: #e6e6e6;
}

.resume-section{
    background-color: #e6e6e6;
}
h1{
    font-family: 'Goldman', cursive;
    color: white;
}
h4{
    font-family: 'Cinzel', serif;
    color: white;
}
.logo{
    width: 200px;
    height: 200px;
}
.row{
    display: flex;
    justify-content: center;
}
.row h1{
    display: flex;
   justify-content: center;
   font-size: 70px;
    
}
.row h4{
    display: flex;
   justify-content: center;
    
}

.icons a{
    display: flex;
    justify-content: center;
    margin-right: 20px; 
    margin-bottom: 155px;
}
.row p{
    
    display: flex;
    justify-content: center;
    
    
}
.about{
    font-size: 45px;
    font-family: 'Satisfy', cursive;
    margin-top: 150px;
    margin-bottom: 0px;
   
}

.details{
    font-family: 'Goldman', cursive;
    font-size: 50px;
    margin-top: 0px ;
    padding-bottom: 20px;
}



.myImage{
    width: 250px;
    padding: 0;
    
    border-radius: 50%;
    border: 6px solid black;

    position: absolute;
    left: 620px;
    top: 550px;
    
}

.col{
    display: flex;
    justify-content: center;
}

.skills{
    font-size: 45px;
    font-family: 'Satisfy', cursive;
    margin-top: 50px;
    margin-bottom: 0px;
    color: white;
}

.best{
    font-family: 'Goldman', cursive;
    font-size: 50px;
    margin-top: 0px ;
    padding-bottom: 20px;
    color: white; 
}

.resume{
    font-size: 45px;
    font-family: 'Satisfy', cursive;
     margin-top: 50px; 
    margin-bottom: 0px;
   
}

.resumedetails{
    font-family: 'Goldman', cursive;
    font-size: 50px;
    margin-top: 0px ;
    padding-bottom: 20px;
}

.portfolio{
    background-color: #f9a825;
    margin-bottom: 0px;
    padding-bottom: 40px;
}

.files{
    background-color: black;
    margin-right: 30px;
    margin-top: 10px; 
    color: white;
    padding:50px; 
}
.map{
    background-image: url('../css/images/map.png');
    height: max-content;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 40px;
}

.text{
    color: white;
}

/* .navigation{
    display: flex;
    justify-content:flex-end;
} */

.hamburger-menu{
    width: 35px; 
    height: 30px; 
    position: fixed; 
    cursor: pointer; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line{
    width: 100%;
    height: 3px; 
    background-color: #f9a825;
    transition: all .8s;
}

.change .line-1{
   transform: rotateZ(-405deg) translate(-8px, 6px); 
}
.change .line-2{
    opacity: 0; 
}
 
.change .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px); 
 }
 
.navbar{
    width: 300px; 
    height: 100%; 
    background-color: #262626;
    top: 0; 
    right: -300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
    position: relative;
}

.change{
    right: 0; 
}

.nav-list{
    text-align: right;

}

.nav-item{
    list-style: none;
    margin: 25px; 
}

.nav-link{
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0px; 
}

.nav-link ::before, .nav-link::after{
    content: "";
    width: 100%; 
    height: 2px; 
    background-color: #f9a825;
    position: absolute;
    left: 0; 
    transform: scaleX(0); 
    transition: transform 0.5s ;
}

.nav-link::after{
    bottom: 0; 
    transform-origin: right;
}
.nav-link::before{
    top: 0; 
    transform-origin: left;
}
}

.nav-link:hover::before, .nav-link:hover::after{
    transform: scaleX(1);
}

/* 
.navbar{
   
    top: 200px;
    right: -10px;
    /* margin-top:0px;
    padding-top: 0px; 
    width: 300px; 
    height: 100%;
    border-radius: 10px;
    position: sticky;
    bottom: 20px;
    left: 70px; 
    cursor: pointer;
    background-color: #262626;

}


.burger{
    width: 45px;
    height: 7px;
    background-color: #f9a825;
    margin-bottom: 5px;    
    border: 1px solid black;
    border-radius: 10px;
}

.change .line-1{
    transform: rotateZ(-45deg) translate(-8px, 6px);
}
.change .line-2{
    opacity: 0;
}
.change .line-3{
    transform: rotateZ(45deg) translate(-6px, -6px);
}

.nav-item{
    list-style: none;
    margin: 25px;

}

.nav-link{
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}

.nav-link::before{

}
.nav-link::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #f9a825;
    position: absolute;
    left:0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after{
    bottom: 0; 
    transform-origin: right;
}

.nav-link::before{
    top: 0; 
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
} */