*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: #e6e6e6;
}

.hero{
    background-image: url('../css/images/hero.png');
}
h1{
    font-family: 'Goldman', cursive;
    color: white;
}
h4{
    font-family: 'Cinzel', serif;
    color: white;
}
.logo{
    width: 200px;
    height: 200px;
}
.row{
    display: flex;
   justify-content: center;
    
}
.row h1{
    display: flex;
   justify-content: center;
   font-size: 70px;
    
}
.row h4{
    display: flex;
   justify-content: center;
    
}